<!--nav --> 
<section class="flexbox nav ">
<h2 class="logo">Wander</h2>

 <!--sidebar Place Details --> 
 <section class="flexbox ">
    <input type="checkbox" id="check" checked>
    <label for="check">
      <i class="fa fa-bars" aria-hidden="hidden" id="cancel"></i>
      <i class="fa fa-bars" id="btn"></i>
    </label> 

    <div class="sidebar">
    <header class ="header-name"> Place Details</header>
    <!--search-bar-->
        <div class ="search-bar ">
             <div id="geocoder" class="geocoder"></div>
          <a href="/favoritesPlaces" >
          <button class="buttonUser" id="saveLocation" >Save location</button></a>
           </div>
    <!--body of sidebar -->
    <div class="profile-card">
      <div class="card-header flexbox column"> 
      <div class = 'favorite-place-list flexbox column '> 
<h2 class = "name">{{place.name}}</h2>
<p>{{place.address}}</p>
<p>{{place.category}}</p>
<p>{{place.description}}</p>
<p>{{place.tag}}</p>
<p>{{place.rating}}</p>


 <a href="/favoritesPlaces" >
<a class="buttonUser" href="/favoritesPlaces/{{place._id}}/edit">Edit this place</a>

<form  action="/favoritesPlaces/{{place._id }}/delete" method="POST">
<button class="buttonUser" type="submit">Delete</button> </form>
  <a href="/" class=> back</a>
  </div>
</div> <!--end of card header-->
<div class="card-footer">
        <div class="numbers">
          <div class="item">
              <a href="/homepage" class=> Home</a> 
          </div>
          <div class="border"></div>
          <div class="item">
               <a href="/favoritesPlaces" class=> Show List</a>
          </div>
          <div class="border"></div>
          <div class="item">
               <a href="/logout" class=> Logout</a>
          </div>
        </div>
      </div>
 </section>
 </section>
  
  
